<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>How to Steam Milk</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>

<img th:src="@{/static/barista.jpg}" alt="Female barista working at coffee shop">
<h2>
    What You'll Learn
</h2>
<p>
    One of the most important things you can learn as a barista is steaming milk and the science behind it.
</p>
<p>
    Knowing how to steam the perfect milk is vital to making customers happy.
</p>
<h2>
    The Bottom Line
</h2>
<p>
    Becoming a Barista can be scary. Making coffee is a science, but don't worry you will be an expert after this
    three-step
    tutorial.
</p>
<div th:replace="fragments/_footer :: footer"></div>

</body>
</html>